<ion-header>

  <ion-navbar>
    <ion-title>bets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div>
    total earnings: {{totalEarnings}}
  </div>
  <div>
    total stakes: {{totalStakes}}
  </div>
  <div>
    Return on investment: {{roi}} <span *ngIf="roi != null">%</span>
  </div>
  <br>

  <ion-card *ngIf="roiAggregate">
    <ion-card-content >
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <br>

  <button ion-button button-round expand="block" (click)="toggleAdd()">
    <ion-icon large *ngIf="!addExpanded" name="add-circle"> Add bet</ion-icon>
    <ion-icon large *ngIf="addExpanded" name="arrow-dropup-circle"> Close</ion-icon>
  </button>

  <div class="add-container" *ngIf="addExpanded">

    <ion-item class="add-item">
      <ion-input [(ngModel)]="event" placeholder="event"></ion-input>
    </ion-item>
    <ion-item class="add-item">
      <ion-input [(ngModel)]="selection" placeholder="selection"></ion-input>
    </ion-item>
    <ion-item class="add-item">
      <ion-input type="number" [(ngModel)]="stake" placeholder="stake"></ion-input>
    </ion-item>
    <ion-item class="add-item">
      <ion-input type="number" [(ngModel)]="odds" placeholder="odds"></ion-input>
    </ion-item>
    <br>
    <button ion-button block color="secondary" (click)="addBet()">Add bet</button>

  </div>

  <br>

  <ion-item>
    Your bets
  </ion-item>
  <ion-list>
    <div *ngFor="let bet of bets">
      <ion-item *ngIf="bet">

        event: {{bet?.event}}
        <br>selection: {{bet?.selection}}
        <br>stake: {{bet?.stake}}
        <br>odds: {{bet?.odds}}
        <br>

        <button *ngIf="bet && !bet.completed" ion-button icon-start (click)="betWon(bet)">
          <ion-icon color="secondary" name="checkmark-circle-outline"></ion-icon>Won
        </button>
        <button *ngIf="bet && !bet.completed" ion-button icon-start (click)="betLost(bet)">
          <ion-icon color="assertive" name="close-circle-outline"></ion-icon>Lost
        </button>
        <button ion-button (click)="removeBet(bet)">
          Delete
        </button>



      </ion-item>
    </div>

  </ion-list>

  <br><br>
  <button ion-button (click)="clearStorage()">
    Clear storage
  </button>



</ion-content>