page-bets {

    .add-container{
        background-color: #2c2c2c;
        border-radius: 10px;
        padding: 10px;
    }

    .add-item{
        background-color: #00000000;
        padding-left: 0px;
        color: white !important;
    }

}
